<!-- <h1>LOADING... {{ isLoading }}</h1> -->

@if(question) {
<p>Category: {{ question.category | decodeHtml }}</p>
<h3>Question: {{ question.question | decodeHtml }}</h3>
<p>
  Difficulty: {{ question.difficulty[0].toUpperCase()
  + question.difficulty.slice(1, question.difficulty.length) | decodeHtml }}
</p>

<div>
  <!-- prettier-ignore -->
  @for( answer of question.answers; track answer) {
  @for(option of answer | keyvalue; track option) {
  <p>{{ option.key }}: {{ option.value | decodeHtml }}</p>
  }
  }
</div>


<button [disabled]="" (click)="updateQuestion()">NEXT</button>
} @else {
<p>No data available.</p>
}