@if (isLoading) {
  <h1>Getting your next question...</h1>
}

@if (question && !isLoading) {
  <p>Category: {{ question.category | decodeHtml }}</p>
  <h3>Question: {{ question.question | decodeHtml }}</h3>
  <p>
    Difficulty: {{
      question.difficulty[0].toUpperCase() +
      question.difficulty.slice(1) | decodeHtml
    }}
  </p>

  <div>
    @for (answer of question.answers; track answer) {
      @for (option of answer | keyvalue; track option) {
        <p>{{ option.key }}: {{ option.value | decodeHtml }}</p>
      }
    }
  </div>

  <button [disabled]="isLoading" (click)="updateQuestion()">NEXT</button>
} @else {
  @if (!question) {
    <p>No data available.</p>
  }
}
